{% extends 'students/base.html' %}

{% block title %}NEW{% endblock %}
{% block body %}
    <h1 class='text-center'>학생정보 등록</h1>
    <form action="/students/{{ student.pk }}/update/" method="POST">
        {% csrf_token %}
        이름: <input type="text" name="name" value="{{ student.name }}"><br>
        이메일: <input type="text" name="email" value="{{ student.email }}"><br>
        나이: <input type="text" name="age" value="{{ student.age }}"><br>
        <input type="submit" value="수정">
    </form>
    <hr>
    <a href="/students/">[학생 목록]</a>
{% endblock %}