{% extends 'movies/base.html' %}

{% block title %}NEW{% endblock %}
{% block body %}
    <h1 class='text-center'>Movie 등록</h1>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputTitle">제목</label>
            <input type="text" name="title" class="form-control" id="inputTitle" placeholder="제목을 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputTitleEn">제목(영문)</label>
            <input type="text" name="title_en" class="form-control" id="inputTitleEn" placeholder="제목(영문)을 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputAudience">관객수</label>
            <input type="text" name="audience" class="form-control" id="inputAudience" placeholder="관객수를 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputOpenDate">개봉일</label>
            <input type="date" name="open_date" class="form-control" id="inputOpenDate" placeholder="개봉일을 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputGenre">장르</label>
            <input type="text" name="genre" class="form-control" id="inputGenre" placeholder="장르를 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputWatchGrade">관람등급</label>
            <input type="text" name="watch_grade" class="form-control" id="inputWatchGrade" placeholder="관람등급을 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputScore">평점</label>
            <input type="text" name="score" class="form-control" id="inputScore" placeholder="평점을 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputPosterURL">포스터 URL</label>
            <input type="text" name="poster_url" class="form-control" id="inputPosterURL" placeholder="포스터 이미지의 경로를 입력하세요">
        </div>
        <div class="form-group">
            <label for="inputPosterURL">줄거리</label>
            <textarea name="description" class="form-control" rows="3"></textarea>
        </div>

        <input type="submit" class="btn btn-info btn-lg btn-block">
    </form>
    <hr>
    <a href="{% url 'movies:index' %}" class="btn btn-default btn-lg btn-block">목록</a>
{% endblock %}